html {
  background-color: #282c34;
}

.heading{
  text-align: center;
  color: whitesmoke;
  font-size: 201%;
}

.form{
  text-align: center;
  color: whitesmoke;
  font-size: 200%;
  margin-top:60px;
  padding-bottom: 100px;
}
.form> h {
text-align: center;
display: block;
}
.form>input{
  width: 34%;
  height: 30px;
  margin-bottom: 40px;
}
